<header class="container-fluid {{stateService.state}}">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <h3 class="logo"><a routerLink="/">&lt;ZHIQING/&gt;</a></h3>
    <nav class="pull-right">
      <ul role="tablist">
        <li role="presentation"><a routerLinkActive="active" routerLink="/works">作品展示</a></li>
        <li role="presentation"><a routerLinkActive="active" routerLink="/about">关于我</a></li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="container-fluid">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <p>Copyright &copy; <a href="http://zhiqing.info">zhiqing.info</a></p>
    <p>本站托管于 <a href="https://github.com">Github</a></p>
  </div>
</footer>
