
<div class="container-fluid">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <h1 class="title">关于我</h1>

    <blockquote>
      <p>你可以选择不当程序员，但是你做了程序员，就没有选择不敲代码的权利。</p>
      <footer>《看见》</footer>
    </blockquote>

    <h2 class="subtitle">个人信息<span [class]="'about' | icon:'class'"></span></h2>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <panel
          [iconClass]="'user' | icon:'class'"
          [title]="'基本信息'"
          [contents]="['李志青(男）', '四川达州人', '大学本科就读']"
        ></panel>
      </div>

      <div class="col-xs-12 col-md-6">
        <panel
          [iconClass]="'heart' | icon:'class'"
          [title]="'兴趣爱好'"
          [contents]="['编程', '游戏', '听音乐']"
        ></panel>
      </div>

    </div>



    <h2 class="subtitle">个人经历<span class="glyphicon glyphicon-road"></span></h2>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <panel
          [iconClass]="'flag' | icon:'class'"
          [title]="'上学经历'"
          [contents]="['四川理工学院(2014~?)']"
        ></panel>
      </div>

      <div class="col-xs-12 col-md-6">
        <panel
          [iconClass]="'glyphicon glyphicon-list-alt'"
          [title]="'学习经历'"
          [contents]="[ 'Java/Android', 'JavaScript', 'C/C++']"
        ></panel>
      </div>

    </div>




    <h2 class="subtitle">我的最爱<span [class]="'heart' | icon:'class'"></span></h2>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <panel
          [iconClass]="'glyphicon glyphicon-tasks'"
          [title]="'编程'"
          [contents]="['Android', 'Angular', 'Spring']"
        ></panel>
      </div>

      <div class="col-xs-12 col-md-6">
        <panel
          [iconClass]="'book' | icon:'class'"
          [title]="'书籍'"
          [contents]="['月亮和六便士', '百年孤独', '檀香刑', '红楼梦']"
        ></panel>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <panel
          [iconClass]="'glyphicon glyphicon-music'"
          [title]="'音乐'"
          [contents]="['New Age', '岛呗', '民谣']"
        ></panel>
      </div>

      <div class="col-xs-12 col-md-6">
        <panel
          [iconClass]="'glyphicon glyphicon-tower'"
          [title]="'游戏'"
          [contents]="[ '模拟', '沙盒', 'DOTA2']"
        ></panel>
      </div>
    </div>

  </div>
</div>
