<div class="container-fluid">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <h1 class="title {{stateService.state}}">我的作品展</h1>

    <div *ngIf="works">

      <div class="col-xs-12 col-md-6" *ngFor="let work of works">
        <div class="panel">
          <div class="panel-heading row">
            <span class="panel-icon col-xs-1"><span [class]="work.platform | icon:'class'"></span></span>
            <h3 class="panel-title col-xs-11">
              {{work.name}}
              <span class="panel-subtitle">
              <span *ngIf="work.platform">
                <span [class]="work.platform | icon:'class'"></span>{{work.platform}}&nbsp;
              </span>
              <span *ngIf="work.langs">
                <span [class]="work.langs[0] | icon:'class'"></span>{{work.langs[0]}}
              </span>
            </span>
            </h3>
          </div>
          <div class="panel-body row">
            <div class="col-xs-11 col-xs-offset-1">
              <div class="content">
                {{work.detail}}
              </div>
              <div class="tips">
                <p *ngIf="work.langs">Languages： <span *ngFor="let lang of work.langs">&nbsp;{{lang}}&nbsp;</span></p>
              </div>
              <a class="btn" (click)="onSelect(work)">浏览该作品</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="!works">
      <no-data></no-data>
    </div>



  </div>
</div>


<router-outlet></router-outlet>
